
.skills {
    background-color: rgb(0, 0, 16); 
    color: aliceblue;
    height: 90vh; 
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    gap: 20px;
    align-items: center;
    padding-top: 5rem;
  }
  
  .skills_h1 {
    grid-column: 1 / -1; 
    justify-self: center; 
    align-self: center; 
    font-size: 2.5rem;
    
  }
  
 
  .skills_right {
    max-width: 400px;
    font-size: .9rem;
    justify-self: center;
    margin-bottom: 50px;
   font-family: 'Bona Nova', serif;
   font-weight: 600;
   
  }


  li {
    display: flex; /* Aktiverar flexbox */
    align-items: center; /* Centrerar items vertikalt */
    gap: 1.5rem; /* Lägger till 1 rem mellanrum mellan texten och baren */
    margin-bottom: 3rem; /* Lägger till 1 rem mellanrum till nästa rad */
    font-size: 1.2rem;
  }
  
  .skill-bar img {
    width: 100%;
    background-color: rgb(0, 0, 16);
      
  }
  
  


  