.skills {
    background-color: rgb(0, 0, 16); 
    color: aliceblue;
    height: auto; /* Ändrat från 90vh till auto för att tillåta flexibel höjd beroende på innehåll */
    width: 100%; /* Ändrat från 1280px till 100% för responsivitet */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.skills_h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.skills_right {
    width: 80%; /* Ökad bredd för att bättre passa karusellen */
    max-width: 1200px; /* Ny maxbredd för större skärmar */
    font-size: 0.9rem;
    margin-bottom: 50px;
    font-family: 'Bona Nova', serif;
    font-weight: 600;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-bar img {
    width: auto; /* Justerar bredden proportionellt baserat på höjden */
    height: 150px; /* En fast höjd för alla bilder */
    background-color: rgb(0, 0, 16);
}

